:root {
  // Colors
  --sp-primary-color: #7340ff;
  --sp-secondary-color: #968aff;
  --sp-warn-color: #ffd900;
  --sp-error-color: #b10000;
  --sp-success-color: #009700;
  --sp-info-color: #0012b3;

  // Dimensions
  --sp-chip-border-radius: 6px;

  // Fonts
  --sp-chip-font-family: 'Noto Sans Display Medium';
}
